<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6z4qraaNPC2m0fWR8_sB-b1coR3LlBCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>476322931060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.competitive</string>
	<key>PROJECT_ID</key>
	<string>competitive-chatting</string>
	<key>STORAGE_BUCKET</key>
	<string>competitive-chatting.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476322931060:ios:0365d4ed8981bae6be8c21</string>
</dict>
</plist>